.feed {
  width: 100%;
  min-height: 100vh;
  background-color: rgb(12, 16, 20);
  
  display: flex;
  flex-direction: column;
  align-items: center;


  .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

     .follow {
  background-color: #0095f6;
  color: white;
  border: none;
  padding: 6px 14px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s ease;
}

.follow:hover {
  background-color: #1877f2;
}
  }

  .posts {
    width: 100%;
    max-width: 350px;
    padding: 10px;

    .post {
      width: 100%;
      background-color: rgb(33, 35, 40);
      padding: 10px;
      border-radius: 1rem;
      margin-bottom: 15px;

     > img {
        width: 100%;
        height: 400px;
        margin-top: 0.5rem;
        border-radius: 10px;
        object-fit: cover; 
      }

      .user {
        display: flex;
        align-items: center;
        gap: 0.5rem;



        .img-wrap{
           height: 55px;
           width: 55px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
           
            background: conic-gradient(#EB7A02,rgb(203, 1, 190),#EB7A02);

            img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          object-fit: cover;
          cursor: pointer;
         
        }
            
        }

       

   
      }
      .icons{
          display: flex;
          justify-content: space-between;

          

          .left{
            display: flex;
            gap: 1rem;

            .like{
            color : red;
          }

          }
        }
    }
  }

  .get-me {
  display: flex;
  align-items: center;
  gap: 0.6rem;

  position: absolute;
  top: 2%;
 right: 45%;
 

  padding: 6px 10px;
  border-radius: 20px;

  background-color: #0C1014;


  cursor: pointer;
  transition: all 0.2s ease;

  

  img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
  }

  .username {
    font-size: 14px;
    font-weight: 600;
     color: whitesmoke;
  }
}
}