
@font-face {
    font-family: reels;
    src: url(./-pkMfchyeAZ.woff2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

html,body {
width : 100%;
height : 100%;
}
body{
     background-color: rgb(12,16,20);
}

main{
    width: 100%;
    height: 100%;
    background-color: rgb(12,16,20);
    padding: 10px;
    color: white; 
}


section{
    height: 100%;
    width: 400px;
    background-color: black;
    margin: auto;
    border-radius: 10px;
    
}

.reels{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow:auto;
    
    scroll-snap-type: y mandatory;
    
    
}

.reels::-webkit-scrollbar{
    display: none;
}

.reel{
    width: 100%;
    height: 100%;

    border-radius: 10px;
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
    
    scroll-snap-align: start;
    scroll-snap-stop: always;     
}

.reel video{
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bottom{
    width: 100%;
    padding: 20px 30px;
    background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.594));
    bottom: 0%;
    position: absolute;
    color: white;
}

.right h4{
   cursor: pointer;
}

.bottom .user{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.bottom .user h4{
    font-size: 15px;
    font-weight: 500;
    font-family: reels;
}


.bottom img{
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}

.bottom .user button{
    padding: 5px;
    border: 1px solid white;
    background: transparent;
    color: white;
    border-radius: 4px;
    font-weight: 700;
}

.bottom h3{
    font-weight: 500;
    font-size: 20px;
}

.right{
    width: 40px;
    position: absolute;
    right: 0%;
    bottom: 10%;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column ;
    gap: 20px;
    text-align: center;
 
   
}

.right i{
        font-size: 20px;
         font-weight: 500;
}

.right h6{
    font-size: 15px;
    font-weight: 500;
}

.right>div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#love{
    color: red;
}
.right .like h4,h6{
    pointer-events: none;
}

.mute{
    height: 50px;
    width: 50px;
    background-color: #333;
    color: white;
    border-radius: 50%;
    display:flex ;
    justify-content:center ;
    align-items: center;
    position: absolute;
    right: 10px;
    top: 2%;
    font-size: 20px;
    cursor: pointer;
}

.mute i{
    pointer-events: none;
}
.mute:active{
    scale: 0.95;
}

@media (max-width: 400px) {

    .reels{
        height: 95%;
        width: 75%;
      
    }

    .mute{
        height: 20px;
        width: 20px;
        font-size: 10px;
    }

  .follow{
    font-size: 10px;
  }

   

  .right h4 {
    font-size: 18px;
  }
  .right h6 {
    font-size: 10px;
  }
  .bottom h3 {
    font-size: 12px;
  }
}
